#contactMenu {
    margin-top: 50px;

    .nameNote {
        margin-top: 50px;
        width: 120px;

        h3 {
            font-size: 28px;
            font-family: $Poppins;
            font-weight: 600;
            position: relative;
            padding: 5px 0;

            &::before {
                position: absolute;
                content: "";
                width: 70%;
                height: 4px;
                top: 100%;
                left: -25%;
                background-color: $secondColor;
                border-radius: 50px;
            }

            &::after {
                position: absolute;
                content: "";
                width: 70%;
                height: 4px;
                top: 0%;
                right: -5%;
                background-color: $secondColor;
                border-radius: 50px;
            }
        }
    }

    .userMessage {
        margin-top: 100px;

        .rowsbox {
            width: 100%;
            display: flex;

            input {
                width: 50%;
                padding: 10px 20px;
                outline: none;
                font-size: 16px;

                &.firstname{
                    margin-right: 30px;
                }

                &::placeholder{
                    font-size: 14px;
                }
            }
        }

        .colsbox{
            width: 100%;
            display: flex;
            flex-direction: column;

            input, textarea{
                margin-top: 30px;
                padding: 10px 20px;
                outline: none;
            }

            a{
                text-decoration: none;
                font-size: 18px;
                font-family: $Poppins;
                font-weight: 500;
                color: $textWhite;
                background-color: $secondColor;
                width: 240px;
                margin: 50px auto;
                padding: 10px 20px;
                border-radius: 30px;
                text-align: center;
                border: 2px solid $secondColor;
                transition: 0.2s ease-in-out;

                &:hover{
                    background-color: $firstColor;
                    color: $secondColor;
                }
            }
        }

    }

}

#footer{
    margin-top: 200px;
}