#firstHeader {
    width: 100%;
    padding: 25px 0;

    .custom-width {
        width: 90%;
        margin: auto;

        .menubaricon {
            display: none;
        }

        .techLogo {

            .logo {
                width: 180px;
            }

        }

        .rightmenuicon {
            display: none;
        }

        .techMenu {

            ul {
                li {
                    text-align: center;
                    margin-right: 20px;

                    a {
                        text-decoration: none;
                        padding: 2px 12px;
                        font-size: 17px;
                        font-family: $Poppins;
                        color: $textColor;
                        font-weight: 500;
                        position: relative;
                        transition: 0.3s ease-in-out;



                        &:hover {
                            color: $firstColor;

                            &::before {
                                width: 100%;
                            }
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            width: 0%;
                            height: 100%;
                            background-color: $secondColor;
                            z-index: -1;
                            top: 50%;
                            left: 0%;
                            transform: translateY(-50%);
                            border-radius: 4px;
                            transition: 0.3s ease-in-out;
                        }


                    }

                    &.is_active {
                        a {
                            color: $firstColor;
                        }

                        ::before {
                            width: 100%;
                        }
                    }
                }
            }

        }

        .techRight {
            .darkMode {
                margin-right: 30px;


                i {
                    font-size: 30px;
                    cursor: pointer;
                    margin-top: 5px;
                }
            }

            .userLogin,
            .userRegister {
                a {
                    border-top-left-radius: 50px;
                    border-bottom-right-radius: 50px;
                    text-align: center;
                    text-decoration: none;
                    padding: 6px 22px;
                    font-size: 14px;
                    font-family: $Poppins;
                    color: $firstColor;
                    font-weight: 600;
                    margin-right: 10px;
                    background-color: $secondColor;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        border-top-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                        border-top-right-radius: 50px;
                        border-bottom-left-radius: 50px;
                        background-color: $textColor;
                    }

                }
            }
        }
    }
}

@media (max-width: 576px) {
    #firstHeader {
        .techLogo {
            display: block;
            margin: auto;
        }

        .menubaricon,
        .rightmenuicon {
            position: relative;

            i {
                font-size: 24px;
            }
        }

        .menubaricon {
            left: 10px;
        }

        .rightmenuicon {
            right: 10px;
        }

        .techMenu {
            display: none;
        }

        .techRight {
            .darkMode {
                display: none;
            }

            .userLogin {
                display: none;
            }

            .userRegister {
                display: none;
            }
        }
    }
}

#secHeader {
    width: 100%;
    background-color: $secondColor;
    padding: 8px 0;
    margin-bottom: 30px;

    .custom-width {
        width: 90%;
        margin: auto;

        .category {
            padding: 8px 60px;
            border-top-left-radius: 50px;
            border-bottom-right-radius: 50px;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            background-color: $textColor;
            box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;

            h3 {
                font-size: 20px;
                margin-right: 20px;
                color: $firstColor;
                font-family: $Poppins;
                padding-top: 7px;

            }

            i {
                font-size: 20px;
                color: $firstColor;
            }



        }

        .category.active {
            border-radius: 50px;
        }

        .openCategory {
            background-color: $firstColor;
            position: absolute;
            top: 180px;
            left: 83px;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            transition: 0.3s ease-in-out;
            visibility: hidden;
            opacity: 0;


            ul {
                li {
                    border-top: 0.5px solid $altColor;
                    padding: 20px 0px;
                    width: 100%;

                    &:hover {
                        a {
                            color: $secondColor;
                        }

                        i {
                            color: $secondColor;
                        }
                    }

                    i {
                        margin-left: 40px;
                        font-size: 20;
                        color: $textColor;
                        transition: 0.2s ease-in-out;

                    }

                    a {
                        padding: 10px 70px 10px 50px;
                        text-decoration: none;
                        font-size: 15px;
                        font-family: $Poppins;
                        color: $textColor;
                        transition: 0.2s ease-in-out;


                    }
                }
            }
        }

        .openCategory.active {
            top: 166px;
            visibility: visible;
            opacity: 1;
        }



        .searchNav {
            position: relative;
            width: 50%;

            .searchInput {
                width: 100%;
                padding: 8px 74px 8px 20px;
                border-radius: 20px;
                outline: none;
                border: none;
                font-size: 18px;
            }

            i {
                background-color: $textColor;
                padding: 13px 35px;
                border-radius: 50px;
                position: absolute;
                top: 50%;
                right: 0%;
                transform: translateY(-50%);
                font-size: 20px;
                color: $firstColor;
                transition: 0.2s ease-in-out;

                &:hover {
                    color: $secondColor;
                }

            }
        }

        .userProg {
            width: 10%;

            ul {
                li {
                    margin: 20px 40px 0 0;
                    cursor: pointer;

                    i {
                        font-size: 25px;
                        color: $firstColor;

                    }
                }


                .cart-up {
                    border-radius: 10px;
                    width: 350px;
                    height: 0px;
                    position: absolute;
                    top: 22%;
                    left: 70%;
                    z-index: 4;
                    background-color: $firstColor;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; 
                    transition: 0.2s ease-in-out;
                    visibility: hidden;
                    opacity: 0;

                    &.cart_active{
                        visibility: visible;
                        opacity: 1;
                        height: 200px;
                    }

                    .triangel {
                        transform: rotate(270deg);
                        font-size: 30px;
                        position: absolute;
                        left: 71%;
                        top: -20px;
                        color: $firstColor;
                        z-index: 1;
                    }

                    .xmark {
                        position: absolute;
                        margin-top: 20px;
                        left: 90%;
                        font-size: 16px;
                        color: black;
                        opacity: 0.8;
                        cursor: pointer;
                        padding: 5px;
                    }


                    p {
                        font-size: 14px;
                        font-family: $Poppins;
                        font-weight: 500;
                        opacity: 0.6;
                        color: $textColor;
                        text-align: center;
                        margin-top: 80px;

                    }
                }
            }
        }
    }


    @media (max-width: 576px) {
        #secHeader {
            display: none;

            .category {
                visibility: hidden;

                h3 {
                    display: none;
                }

                i {
                    display: none;
                }
            }

            .category.active {
                display: none;
            }

            .searchNav {
                display: block;
                left: 0%;

            }

            .userProg {
                display: none;
            }
        }
    }
}