@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Color

$firstColor : #FFFFFF;
$secondColor : #ff973c;
$altColor : rgba(186, 186, 186, 0.209);
$textColor : #000000;
$textWhite : #fff;



// Fonts

$Poppins : 'Poppins', sans-serif;
$Hind : 'Hind', sans-serif;