@import '_variable.scss';

@import '_header.scss';

@import '_main.scss';

@import '_products.scss';

@import '_about.scss';

@import '_blog.scss';

@import '_contact.scss';

@import '_footer.scss';

@import '_responsive.scss';