@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
#firstHeader {
  width: 100%;
  padding: 25px 0;
}
#firstHeader .custom-width {
  width: 90%;
  margin: auto;
}
#firstHeader .custom-width .menubaricon {
  display: none;
}
#firstHeader .custom-width .techLogo .logo {
  width: 180px;
}
#firstHeader .custom-width .rightmenuicon {
  display: none;
}
#firstHeader .custom-width .techMenu ul li {
  text-align: center;
  margin-right: 20px;
}
#firstHeader .custom-width .techMenu ul li a {
  text-decoration: none;
  padding: 2px 12px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
}
#firstHeader .custom-width .techMenu ul li a:hover {
  color: #FFFFFF;
}
#firstHeader .custom-width .techMenu ul li a:hover::before {
  width: 100%;
}
#firstHeader .custom-width .techMenu ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #ff973c;
  z-index: -1;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}
#firstHeader .custom-width .techMenu ul li.is_active a {
  color: #FFFFFF;
}
#firstHeader .custom-width .techMenu ul li.is_active ::before {
  width: 100%;
}
#firstHeader .custom-width .techRight .darkMode {
  margin-right: 30px;
}
#firstHeader .custom-width .techRight .darkMode i {
  font-size: 30px;
  cursor: pointer;
  margin-top: 5px;
}
#firstHeader .custom-width .techRight .userLogin a,
#firstHeader .custom-width .techRight .userRegister a {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-align: center;
  text-decoration: none;
  padding: 6px 22px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  margin-right: 10px;
  background-color: #ff973c;
  transition: 0.3s ease-in-out;
}
#firstHeader .custom-width .techRight .userLogin a:hover,
#firstHeader .custom-width .techRight .userRegister a:hover {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #000000;
}

@media (max-width: 576px) {
  #firstHeader .techLogo {
    display: block;
    margin: auto;
  }
  #firstHeader .menubaricon,
#firstHeader .rightmenuicon {
    position: relative;
  }
  #firstHeader .menubaricon i,
#firstHeader .rightmenuicon i {
    font-size: 24px;
  }
  #firstHeader .menubaricon {
    left: 10px;
  }
  #firstHeader .rightmenuicon {
    right: 10px;
  }
  #firstHeader .techMenu {
    display: none;
  }
  #firstHeader .techRight .darkMode {
    display: none;
  }
  #firstHeader .techRight .userLogin {
    display: none;
  }
  #firstHeader .techRight .userRegister {
    display: none;
  }
}
#secHeader {
  width: 100%;
  background-color: #ff973c;
  padding: 8px 0;
  margin-bottom: 30px;
}
#secHeader .custom-width {
  width: 90%;
  margin: auto;
}
#secHeader .custom-width .category {
  padding: 8px 60px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: #000000;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}
#secHeader .custom-width .category h3 {
  font-size: 20px;
  margin-right: 20px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  padding-top: 7px;
}
#secHeader .custom-width .category i {
  font-size: 20px;
  color: #FFFFFF;
}
#secHeader .custom-width .category.active {
  border-radius: 50px;
}
#secHeader .custom-width .openCategory {
  background-color: #FFFFFF;
  top: 180px;
  left: 83px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 4;
}
#secHeader .custom-width .openCategory ul li {
  border-top: 0.5px solid rgba(186, 186, 186, 0.209);
  padding: 20px 0px;
  width: 100%;
}
#secHeader .custom-width .openCategory ul li:hover a {
  color: #ff973c;
}
#secHeader .custom-width .openCategory ul li:hover i {
  color: #ff973c;
}
#secHeader .custom-width .openCategory ul li i {
  margin-left: 40px;
  font-size: 20;
  color: #000000;
  transition: 0.2s ease-in-out;
}
#secHeader .custom-width .openCategory ul li a {
  padding: 10px 70px 10px 50px;
  text-decoration: none;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #000000;
  transition: 0.2s ease-in-out;
}
#secHeader .custom-width .active {
  top: 166px;
  visibility: visible;
  opacity: 1;
}
#secHeader .custom-width .searchNav {
  position: relative;
  width: 50%;
}
#secHeader .custom-width .searchNav .searchInput {
  width: 100%;
  padding: 8px 74px 8px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 18px;
}
#secHeader .custom-width .searchNav i {
  background-color: #000000;
  padding: 13px 35px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #FFFFFF;
  transition: 0.2s ease-in-out;
}
#secHeader .custom-width .searchNav i:hover {
  color: #ff973c;
}
#secHeader .custom-width .userProg {
  width: 10%;
}
#secHeader .custom-width .userProg ul li {
  margin: 20px 40px 0 0;
  cursor: pointer;
}
#secHeader .custom-width .userProg ul li i {
  font-size: 25px;
  color: #FFFFFF;
}
#secHeader .custom-width .userProg ul .cart-up {
  border-radius: 10px;
  width: 350px;
  height: 0px;
  position: absolute;
  top: 22%;
  left: 70%;
  z-index: 4;
  background-color: #FFFFFF;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
#secHeader .custom-width .userProg ul .cart-up.cart_active {
  visibility: visible;
  opacity: 1;
  height: 200px;
}
#secHeader .custom-width .userProg ul .cart-up .triangel {
  transform: rotate(270deg);
  font-size: 30px;
  position: absolute;
  left: 71%;
  top: -20px;
  color: #FFFFFF;
  z-index: 1;
}
#secHeader .custom-width .userProg ul .cart-up .xmark {
  position: absolute;
  margin-top: 20px;
  left: 90%;
  font-size: 16px;
  color: black;
  opacity: 0.8;
  cursor: pointer;
  padding: 5px;
}
#secHeader .custom-width .userProg ul .cart-up p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  opacity: 0.6;
  color: #000000;
  text-align: center;
  margin-top: 80px;
}
@media (max-width: 576px) {
  #secHeader #secHeader {
    display: none;
  }
  #secHeader #secHeader .category {
    visibility: hidden;
  }
  #secHeader #secHeader .category h3 {
    display: none;
  }
  #secHeader #secHeader .category i {
    display: none;
  }
  #secHeader #secHeader .category.active {
    display: none;
  }
  #secHeader #secHeader .searchNav {
    display: block;
    left: 0%;
  }
  #secHeader #secHeader .userProg {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* .custom-width {
  width: 90%;
  margin: auto;
}

body .icons img {
  width: 25px;
  position: relative;
  top: 57px;
  left: 18%;
  -webkit-animation: icons1 1s infinite;
          animation: icons1 1s infinite;
}
@-webkit-keyframes icons1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes icons1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#sectionSlider {
  width: 100%;
  padding: 50px 30px;
  border-radius: 30px;
  margin-top: 50px;
  background-color: rgba(186, 186, 186, 0.209);
}
#sectionSlider .saleProduct {
  width: 25%;
  height: 560px;
  margin-right: 30px;
}
#sectionSlider .saleProduct .product {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
#sectionSlider .saleProduct .product img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
#sectionSlider .slider {
  width: 74%;
  height: 450px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}
#sectionSlider .slider ul {
  position: relative;
  left: 0;
  transition: 0.3s ease-in-out;
}
#sectionSlider .slider ul li {
  width: 100%;
}
#sectionSlider .slider ul li img {
  width: 100%;
  height: 450px;
  border-radius: 15px;
}
#sectionSlider .slider .sliderBtn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 45%;
  left: 0%;
}
#sectionSlider .slider .sliderBtn .nextBtn,
#sectionSlider .slider .sliderBtn .prevBtn {
  position: absolute;
  right: 2%;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
#sectionSlider .slider .sliderBtn .nextBtn i,
#sectionSlider .slider .sliderBtn .prevBtn i {
  color: #FFFFFF;
  padding: 12px 14px;
  font-size: 10px;
  transition: 0.2s ease-in-out;
}
#sectionSlider .slider .sliderBtn .nextBtn i:hover,
#sectionSlider .slider .sliderBtn .prevBtn i:hover {
  background-color: #ff973c;
  border-radius: 50%;
  opacity: 0.8;
}
#sectionSlider .slider .sliderBtn .prevBtn {
  left: 2%;
  transition: 0.3s ease-in-out;
}

@media (max-width: 576px) {
  #sectionSlider {
    padding: 20px 0px;
    margin-top: 15px;
  }
  #sectionSlider .secOne {
    flex-direction: column;
  }
  #sectionSlider .secOne .saleProduct {
    display: none;
  }
  #sectionSlider .secOne .saleProduct .product {
    display: none;
  }
  #sectionSlider .secOne .saleProduct .product img {
    display: none;
  }
  #sectionSlider .secOne .slider {
    width: 100%;
    height: 400px;
  }
}
.partners {
  width: 100%;
  margin: 100px 0;
  background-color: rgba(186, 186, 186, 0.209);
  overflow: hidden scroll;
}
.partners .partner {
  width: 160px;
  padding: 0px 20px;
  margin: 20px 40px;
  border-radius: 80px;
}
.partners .partner img {
  filter: grayscale(2);
}

#popularCategories {
  width: 100%;
  background-color: #FFFFFF;
  margin: 50px 0;
  cursor: default;
}
#popularCategories .topCategory {
  width: 100%;
}
#popularCategories .topCategory .top-line {
  margin-bottom: 50px;
}
#popularCategories .topCategory .top-line hr {
  width: 100%;
  height: 1px;
  background-color: black;
}
#popularCategories .topCategory .category-item {
  border-radius: 20px;
  background-color: rgba(186, 186, 186, 0.209);
  padding: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;
  transition: 0.3s ease-in-out;
}
#popularCategories .topCategory .category-item:hover {
  transform: scale(1.07);
  background-color: #ff973c;
}
#popularCategories .topCategory .category-item:hover .item-text h3 {
  color: #FFFFFF;
}
#popularCategories .topCategory .category-item:hover .item-text p {
  color: #FFFFFF;
}
#popularCategories .topCategory .category-item:hover .item-text a {
  background-color: #FFFFFF;
  color: #ff973c;
}
#popularCategories .topCategory .category-item .item-img {
  margin-right: 10px;
}
#popularCategories .topCategory .category-item .item-text {
  margin-left: 20px;
  transition: 0.3s ease-in-out;
}
#popularCategories .topCategory .category-item .item-text h3 {
  font-size: 22px;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  line-height: 40px;
  color: #000000;
}
#popularCategories .topCategory .category-item .item-text p {
  font-size: 11px;
  color: #000000;
  margin-bottom: 30px;
}
#popularCategories .topCategory .category-item .item-text a {
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
  padding: 5px 20px;
  background-color: #ff973c;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 30px;
  transition: 0.3s ease-in-out;
}
#popularCategories .topCategory .category-item .item-text a:hover {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
#popularCategories .topCategory .end-line {
  margin-top: 50px;
}
#popularCategories .topCategory .end-line hr {
  width: 100%;
  height: 1px;
  background-color: black;
}

@media (max-width: 576px) {
  #popularCategories {
    display: none;
  }
}
#allProducts {
  padding-top: 50px;
  width: 100%;
}
#allProducts .tabMenu {
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.379);
  padding: 5px 20px 15px 20px;
}
#allProducts .tabMenu ul li {
  margin-right: 30px;
  padding: 8px 30px;
  cursor: pointer;
}
#allProducts .tabMenu ul li:hover h6 {
  color: #ff973c;
}
#allProducts .tabMenu ul li h6 {
  font-size: 18px;
  font-family: "Hind", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  color: #000000;
  transition: 0.2s ease-in-out;
}
#allProducts .tabMenu ul li.is_active h6 {
  color: #ff973c;
}
#allProducts .showProduct {
  height: 1230px;
  padding: 80px 0;
  overflow: hidden scroll;
}
#allProducts .showProduct .productBox {
  border: 1px solid rgba(186, 186, 186, 0.209);
  border-radius: 20px;
  min-height: 480px;
  text-align: center;
  padding: 30px 20px;
  margin: 20px 10px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#allProducts .showProduct .productBox:hover {
  transform: scale(1.06);
}
#allProducts .showProduct .productBox:hover .productContent .stars {
  visibility: visible;
  opacity: 0;
}
#allProducts .showProduct .productBox:hover .productContent span {
  visibility: visible;
  opacity: 0;
}
#allProducts .showProduct .productBox:hover .productContent h5 {
  visibility: visible;
  opacity: 0;
}
#allProducts .showProduct .productBox:hover .productContent .buyBtn {
  visibility: visible;
  opacity: 1;
}
#allProducts .showProduct .productBox .productImage {
  width: 220px;
  min-height: 220px;
  margin: auto;
  padding: 20px 0 img;
  padding-text-align: center;
}
#allProducts .showProduct .productBox .productContent {
  position: relative;
}
#allProducts .showProduct .productBox .productContent h6 {
  font-size: 17px;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  color: #000000;
  min-height: 60px;
}
#allProducts .showProduct .productBox .productContent p {
  font-size: 15px;
  font-family: "Hind", sans-serif;
  font-weight: 400;
  padding: 0 20px;
  min-height: 70px;
  color: #000000;
}
#allProducts .showProduct .productBox .productContent .stars {
  transition: 0.2s ease-in-out;
  min-height: 10px;
}
#allProducts .showProduct .productBox .productContent .stars i {
  font-size: 15px;
  padding-right: 4px;
  color: orange;
}
#allProducts .showProduct .productBox .productContent h5 {
  font-size: 20px;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  color: black;
  margin-top: 25px;
  min-height: 30px;
  transition: 0.2s ease-in-out;
  text-decoration: underline;
  display: inline-block;
}
#allProducts .showProduct .productBox .productContent span {
  font-size: 17px;
  font-family: "Hind", sans-serif;
  font-weight: 500;
  margin-right: 15px;
  -webkit-text-decoration: 1px line-through;
          text-decoration: 1px line-through;
  transition: 0.2s ease-in-out;
}
#allProducts .showProduct .productBox .productContent .buyBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65%;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
#allProducts .showProduct .productBox .productContent .buyBtn a {
  text-decoration: none;
  border-radius: 20px;
  width: 70%;
  margin: 5px auto;
  padding: 8px 6px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Hind", sans-serif;
  color: #fff;
  background-color: #ff973c;
  border: 1px solid #ff973c;
  transition: 0.2s ease-in-out;
}
#allProducts .showProduct .productBox .productContent .buyBtn a:hover {
  background-color: #FFFFFF;
  color: #000000;
  transform: scale(1.05);
}

@media (max-width: 576px) {
  #allProducts .showProduct {
    overflow-x: hidden scroll;
    flex-direction: row;
  }
  #allProducts .showProduct .respFlex {
    flex-wrap: wrap;
  }
}
#productSections {
  padding-top: 180px;
}
#productSections .top-content {
  padding: 0 50px;
}
#productSections .top-content h3 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  padding: 5px 0;
}
#productSections .top-content h3::before {
  position: absolute;
  content: "";
  width: 65%;
  height: 4px;
  top: 100%;
  left: 0%;
  background-color: #ff973c;
  border-radius: 50px;
}
#productSections .top-content h3::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 4px;
  top: 0%;
  right: 0%;
  background-color: #ff973c;
  border-radius: 50px;
}
#productSections .top-content a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #ff973c;
  padding: 5px;
  position: relative;
}
#productSections .top-content a:hover::after {
  width: 100%;
  right: 0%;
}
#productSections .top-content a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  border-radius: 50px;
  background-color: #ff973c;
  right: 100%;
  top: 100%;
  transition: 0.3s ease-in-out;
}
#productSections .productBox {
  border: 1px solid rgba(186, 186, 186, 0.209);
  min-height: 480px;
  text-align: center;
  padding: 30px 20px;
  margin: 20px 10px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 20px;
}
#productSections .productBox:hover {
  transform: scale(1.06);
}
#productSections .productBox:hover .productContent .stars {
  visibility: visible;
  opacity: 0;
}
#productSections .productBox:hover .productContent span {
  visibility: visible;
  opacity: 0;
}
#productSections .productBox:hover .productContent h5 {
  visibility: visible;
  opacity: 0;
}
#productSections .productBox:hover .productContent .buyBtn {
  visibility: visible;
  opacity: 1;
}
#productSections .productBox .productImage {
  width: 220px;
  min-height: 220px;
  margin: auto;
  padding: 20px 0 img;
  padding-text-align: center;
}
#productSections .productBox .productContent {
  position: relative;
}
#productSections .productBox .productContent h6 {
  font-size: 17px;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  color: #000000;
  min-height: 60px;
}
#productSections .productBox .productContent p {
  font-size: 15px;
  font-family: "Hind", sans-serif;
  font-weight: 400;
  padding: 0 20px;
  min-height: 70px;
  color: #000000;
}
#productSections .productBox .productContent .stars {
  transition: 0.2s ease-in-out;
  min-height: 10px;
}
#productSections .productBox .productContent .stars i {
  font-size: 15px;
  padding-right: 4px;
  color: orange;
}
#productSections .productBox .productContent h5 {
  font-size: 20px;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  color: black;
  margin-top: 25px;
  min-height: 30px;
  transition: 0.2s ease-in-out;
  text-decoration: underline;
  display: inline-block;
}
#productSections .productBox .productContent span {
  font-size: 17px;
  font-family: "Hind", sans-serif;
  font-weight: 500;
  margin-right: 15px;
  -webkit-text-decoration: 1px line-through;
          text-decoration: 1px line-through;
  transition: 0.2s ease-in-out;
}
#productSections .productBox .productContent .buyBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65%;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
#productSections .productBox .productContent .buyBtn a {
  text-decoration: none;
  border-radius: 20px;
  width: 70%;
  margin: 5px auto;
  padding: 8px 6px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Hind", sans-serif;
  color: #fff;
  background-color: #ff973c;
  border: 1px solid #ff973c;
  transition: 0.2s ease-in-out;
}
#productSections .productBox .productContent .buyBtn a:hover {
  background-color: #FFFFFF;
  color: #000000;
  transform: scale(1.05);
}

@media (max-width: 576px) {
  #productSections .productBox {
    padding: 20px 5px;
  }
  #productSections .productBox .productImage {
    width: 180px;
    min-height: 180px;
  }
  #productSections .productBox .productContent h6 {
    font-size: 15px;
  }
  #productSections .productBox .productContent p {
    font-size: 12px;
  }
  #productSections .productBox .productContent h5 {
    font-size: 18px;
  }
  #productSections .productBox .productContent span {
    font-size: 15px;
  }
}
#footer {
  width: 100%;
  height: 250px;
  background-color: #ff973c;
}
#footer .content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#footer .content .top_content {
  width: 240px;
  margin: 50px auto;
}
#footer .content .top_content img {
  width: 100%;
  height: 100%;
  filter: brightness(0);
}
#footer .content .bottom_content {
  width: 500px;
  margin: auto;
}
#footer .content .bottom_content span {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

#productMenu .nameNote {
  margin-top: 50px;
  width: 150px;
}
#productMenu .nameNote h3 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  padding: 5px 0;
}
#productMenu .nameNote h3::before {
  position: absolute;
  content: "";
  width: 70%;
  height: 4px;
  top: 100%;
  left: -20%;
  background-color: #ff973c;
  border-radius: 50px;
}
#productMenu .nameNote h3::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 4px;
  top: 0%;
  right: -10%;
  background-color: #ff973c;
  border-radius: 50px;
}
#productMenu .tabMenu {
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.379);
  padding: 5px 20px 15px 20px;
}
#productMenu .tabMenu ul li {
  margin-right: 30px;
  padding: 4px 20px;
  cursor: pointer;
}
#productMenu .tabMenu ul li:hover h6 {
  color: #ff973c;
}
#productMenu .tabMenu ul li h6 {
  font-size: 18px;
  font-family: "Hind", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  color: #000000;
  transition: 0.2s ease-in-out;
}
#productMenu .tabMenu ul li.is_active h6 {
  color: #ff973c;
}
#productMenu .tabMenu.tabOne {
  margin-top: 80px;
}
#productMenu .tabMenu.tabTwo {
  margin-top: 30px;
}

#aboutMenu .nameNote {
  margin-top: 50px;
  width: 150px;
}
#aboutMenu .nameNote h3 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  padding: 5px 0;
}
#aboutMenu .nameNote h3::before {
  position: absolute;
  content: "";
  width: 75%;
  height: 4px;
  top: 100%;
  left: -20%;
  background-color: #ff973c;
  border-radius: 50px;
}
#aboutMenu .nameNote h3::after {
  position: absolute;
  content: "";
  width: 75%;
  height: 4px;
  top: 0%;
  right: -30%;
  background-color: #ff973c;
  border-radius: 50px;
}
#aboutMenu .about {
  margin: 40px 0;
}
#aboutMenu .about .about-text {
  margin-top: 100px;
}
#aboutMenu .about .about-text h4 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000000;
}
#aboutMenu .about .about-text p {
  font-size: 18px;
  font-family: "Hind", sans-serif;
  font-weight: 400;
  color: #000000;
  margin-top: 50px;
}
#aboutMenu .about .about-image {
  border-radius: 20px;
}
#aboutMenu .about .about-image .photo {
  margin-top: 40px;
  border-radius: 20px;
  min-height: 400px;
}

#contactMenu {
  position: relative;
  margin-top: 50px;
}
#contactMenu .nameNote {
  margin-top: 50px;
  width: 120px;
  position: absolute;
  z-index: 1;
}
#contactMenu .nameNote h3 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  padding: 5px 0;
}
#contactMenu .nameNote h3::before {
  position: absolute;
  content: "";
  width: 70%;
  height: 4px;
  top: 100%;
  left: -25%;
  background-color: #ff973c;
  border-radius: 50px;
}
#contactMenu .nameNote h3::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 4px;
  top: 0%;
  right: -5%;
  background-color: #ff973c;
  border-radius: 50px;
}
#contactMenu .userMessage {
  margin-top: 100px;
}
#contactMenu .userMessage .rowsbox {
  width: 100%;
  display: flex;
}
#contactMenu .userMessage .rowsbox input {
  width: 50%;
  padding: 10px 20px;
  outline: none;
  font-size: 16px;
}
#contactMenu .userMessage .rowsbox input.firstname {
  margin-right: 30px;
}
#contactMenu .userMessage .rowsbox input::-moz-placeholder {
  font-size: 14px;
}
#contactMenu .userMessage .rowsbox input:-ms-input-placeholder {
  font-size: 14px;
}
#contactMenu .userMessage .rowsbox input::placeholder {
  font-size: 14px;
}
#contactMenu .userMessage .colsbox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#contactMenu .userMessage .colsbox input, #contactMenu .userMessage .colsbox textarea {
  margin-top: 30px;
  padding: 10px 20px;
  outline: none;
}
#contactMenu .userMessage .colsbox a {
  text-decoration: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #ff973c;
  width: 240px;
  margin: 50px auto;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  border: 2px solid #ff973c;
  transition: 0.2s ease-in-out;
}
#contactMenu .userMessage .colsbox a:hover {
  background-color: #FFFFFF;
  color: #ff973c;
}

#footer {
  margin-top: 200px;
}

#userLogin {
  background-image: url(../photo/login-bg.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#userLogin .log-box {
  width: 420px;
  padding: 10px 0;
  background-color: #FFFFFF;
  border-radius: 30px;
  flex-direction: column;
  box-shadow: rgba(14, 30, 37, 0.482) 0px 2px 4px 0px, rgba(14, 30, 37, 0.495) 0px 2px 16px 0px;
}
#userLogin .log-box .top-content,
#userLogin .log-box .input-area,
#userLogin .log-box .submit-btn,
#userLogin .log-box .btn-register {
  padding: 10px 60px;
  text-align: center;
}
#userLogin .log-box .top-content .logo {
  width: 140px;
  margin: 30px auto;
}
#userLogin .log-box .top-content .content h4 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ff973c;
}
#userLogin .log-box .input-area input {
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.289);
  font-size: 14px;
}
#userLogin .log-box .submit-btn {
  margin-top: 40px;
}
#userLogin .log-box .submit-btn a {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #ff973c;
  padding: 8px 30px;
  border-radius: 30px;
  background-color: #ff973c;
  color: #fff;
}
#userLogin .log-box .btn-register {
  margin: 30px 0;
}
#userLogin .log-box .btn-register span {
  font-size: 16px;
  font-family: "Hind", sans-serif;
}
#userLogin .log-box .btn-register span a {
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  color: #ff973c;
}

#userRegister {
  background-image: url(../photo/login-bg.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#userRegister .reg-box {
  width: 520px;
  padding: 0px 0;
  background-color: #FFFFFF;
  border-radius: 30px;
  flex-direction: column;
  box-shadow: rgba(14, 30, 37, 0.482) 0px 2px 4px 0px, rgba(14, 30, 37, 0.495) 0px 2px 16px 0px;
}
#userRegister .reg-box .top-content,
#userRegister .reg-box .submit-btn,
#userRegister .reg-box .btn-register {
  padding: 0px 40px;
  text-align: center;
}
#userRegister .reg-box .input-area {
  padding: 0px 40px;
}
#userRegister .reg-box .top-content .logo {
  width: 140px;
  margin: 20px auto;
}
#userRegister .reg-box .top-content .content h4 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ff973c;
}
#userRegister .reg-box .input-area input {
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.289);
  font-size: 14px;
}
#userRegister .reg-box .input-area input.check {
  width: 20px;
  height: 14px;
  margin: 25px 10px 0 10px;
}
#userRegister .reg-box .input-area span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000000;
}
#userRegister .reg-box .submit-btn {
  margin-top: 40px;
}
#userRegister .reg-box .submit-btn a {
  text-decoration: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #ff973c;
  padding: 8px 30px;
  border-radius: 30px;
  background-color: #ff973c;
  color: #fff;
}
#userRegister .reg-box .btn-login {
  margin: 30px auto;
}
#userRegister .reg-box .btn-login span {
  font-size: 16px;
  font-family: "Hind", sans-serif;
}
#userRegister .reg-box .btn-login span a {
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  color: #ff973c;
}/*# sourceMappingURL=style.css.map */